body {
  font-family: monospace;
  font-size: initial !important; /* Use 'initial' to unset */
  font-weight: normal !important;
 
}

.animateTextOut {
  opacity: 0;
  transition: 0.3s ease;
}

.animateTextIn {
  transition: 0.9s ease;
}


li {
  list-style-type: none;
}


