h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

body {
  font-family: monospace;
}

.animateTextOut {
  opacity: 0;
  transition: 0.3s ease;
}

.animateTextIn {
  transition: 0.9s ease;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
}
